@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;300;400;500;600;700&display=swap");
:root {
  --global-flat-black: #2b2b2b;
  --root-padding: 20px;
  --global-bg-black: #131313;
  --global-white: #f1f1f1;
  --dark-black: #131313;
  --global-header-size: 35px;
  --global-font-size: 18px;
  --footer-bg: rgb(222, 222, 222);
  --navbar-bg: black;
  --light-text-color: rgb(187, 187, 187);
}

/* Color Theme Swatches in Hex */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost";
}

#comment {
  display: none;
}

html,
body {
  scroll-behavior: smooth;
  background-color: var(--global-white);
}

img {
  -o-object-fit: contain;
     object-fit: contain;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--dark-black);
}

a {
  color: var(--global-white);
  text-decoration: none;
}

ul {
  list-style: none;
}

.small-logo {
  width: 200px;
  height: 68px;
}

.global-container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
}

#navbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  min-height: 118px;
  display: flex;
  justify-content: space-between;
  padding: 0 var(--root-padding);
  padding-top: 40px;
  padding-bottom: 10px;
  background-color: var(--navbar-bg);
}
#navbar .logo-contrainer {
  height: 100%;
  display: flex;
  align-items: flex-end;
}
#navbar .navigation-links {
  display: flex;
  max-width: 350px;
  flex-grow: 1000;
  justify-content: space-between;
  align-items: flex-end;
}
#navbar .navigation-links li {
  position: relative;
  color: var(--global-white);
}
#navbar .navigation-links li::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  background: rgb(255, 255, 255);
  width: 0;
  height: 1px;
  transition: all 300ms ease-in-out;
}
#navbar .navigation-links li:hover::after {
  width: 100%;
}

.nav-mobile-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  background: var(--global-white);
  text-align: center;
  border-radius: 10px;
  z-index: 20000;
  display: none;
}

.intro-container {
  padding: 10px;
  padding-top: 160px;
  padding-bottom: 30px;
  display: flex;
  min-height: 100vh;
  background-image: url("/forest_backdrop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  position: relative;
  z-index: 100;
}
.intro-container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1921568627);
  z-index: 150;
}
@keyframes fadeBG {
  from {
    background-color: rgb(78, 78, 78);
  }
  to {
    background-color: var(--dark-black);
  }
}
.intro-container .global-container {
  z-index: 200;
  display: flex;
  justify-content: center;
}
.intro-container .intro .message {
  color: var(--global-white);
  max-width: 65%;
  margin-top: 30px;
}
.intro-container .intro .intro-image-container {
  max-width: 830px;
  max-height: 300px;
}

.mission-statement {
  color: var(--global-white) !important;
}
.mission-statement .statement-wrapper h2 {
  font-size: var(--global-header-size);
  padding-left: 60px;
}
.mission-statement .statement-wrapper #statement-underline {
  max-width: 450px;
  height: 11px;
}

.mission-items-wrapper {
  justify-content: space-between;
  flex-wrap: wrap;
}
.mission-items-wrapper .mission-item {
  line-height: 30px;
  max-width: 370px;
  margin: 20px 0;
}
.mission-items-wrapper .mission-item p {
  font-size: var(--global-font-size);
}
.mission-items-wrapper .mission-item .icon-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 25px;
}
.mission-items-wrapper .mission-item .icon-wrap h4 {
  font-size: 25px;
}
.mission-items-wrapper .mission-item .icon-wrap svg {
  height: 50px;
  width: 100px;
  margin-bottom: 10px;
}

.about-index {
  background-color: var(--global-white);
}
.about-index .content-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-index .content-wrapper p {
  max-width: 800px;
  align-self: center;
  line-height: 40px;
  padding: 5px 20px;
  font-size: var(--global-font-size);
}
.about-index .content-wrapper img {
  max-width: 600px;
  max-height: 400px;
  margin-bottom: 20px;
}

.services-index {
  color: var(--global-white);
}
.services-index .services {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services-index .services .services-item {
  background-size: cover;
  width: 100%;
  height: 120px;
  background-repeat: no-repeat;
  background-position: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 300;
  position: relative;
  z-index: 10;
  cursor: pointer;
  margin: 10px 0;
  max-width: 800px;
}
.services-index .services .services-item:hover::after {
  background: rgba(83, 83, 83, 0.5960784314);
}
.services-index .services .services-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3764705882);
  z-index: -10;
  transition: all 200ms ease-in-out;
}
.services-index .services .item-1 {
  background-image: url("https://images.unsplash.com/photo-1485575301924-6891ef935dcd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}
.services-index .services .item-2 {
  background-image: url("https://images.unsplash.com/photo-1630272908311-9b5e042164be?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1476&q=80");
}

#footer {
  padding: var(--root-padding);
  padding-top: 100px;
  min-height: 150px;
  background-color: var(--footer-bg);
  color: var(--dark-black);
}
#footer * {
  color: var(--dark-black);
}
#footer p {
  margin-top: 80px;
  text-align: center;
}
#footer .footer-inner-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}
#footer .footer-navigation-wrapper {
  justify-content: center;
  width: 100%;
}
#footer .footer-navigation-wrapper ul {
  flex-wrap: wrap;
}
#footer .footer-navigation-wrapper ul li {
  margin: 0 30px;
  font-weight: 500;
}
#footer .image-container {
  max-width: 120px;
}

#about-page-wrapper {
  margin-top: 120px;
}
#about-page-wrapper .intro {
  padding: 40px 0;
  margin-bottom: 100px;
}
#about-page-wrapper .intro .flex {
  padding-top: 40px;
  justify-content: center;
  gap: 20px;
}
#about-page-wrapper .intro .flex .about-text-container {
  max-width: 600px;
}
#about-page-wrapper .intro .flex .about-text-container .about-text {
  margin-top: auto;
}
#about-page-wrapper .intro .flex .image-container {
  flex-grow: 100;
  max-width: 500px;
}
#about-page-wrapper .intro .flex .image-container img {
  height: 100%;
  width: 100%;
}

.team-info-wrappper .header-wrapper {
  margin-top: 160px;
  margin-bottom: 40px;
}
.team-info-wrappper .header-wrapper h2 {
  font-size: 30px;
  position: relative;
  width: auto;
  display: inline;
  color: var(--dark-black);
}
.team-info-wrappper .header-wrapper h2::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #1f8b99;
  height: 4px;
}
.team-info-wrappper .employee-container {
  justify-content: center;
  padding: 5px 0;
  padding-bottom: 100px;
}
.team-info-wrappper .employee-container .employee-item {
  max-width: 250px;
  margin: 30px 20px;
}
.team-info-wrappper .employee-container .employee-item .immediate-info {
  margin-bottom: 10px;
  line-height: 23px;
}
.team-info-wrappper .employee-container .employee-item .employee-name {
  font-weight: 500;
  font-size: large;
}
.team-info-wrappper .employee-container .employee-item .position {
  color: var(--light-text-color);
}

@media screen and (max-width: 1500px) {
  .about-index .intro {
    max-width: 720px;
  }
  .about-index .content-wrapper {
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 1100px) {
  .intro {
    max-width: 600px;
  }
}
@media screen and (max-width: 1330px) {
  .mission-items-wrapper {
    justify-content: space-evenly;
  }
  .about-index .content-wrapper img {
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .footer-inner-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-inner-wrapper .contact-info {
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 660px) {
  #navbar {
    height: auto;
    min-height: auto;
    max-height: auto;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
  }
  #navbar .logo-contrainer {
    display: none;
  }
  #navbar .navigation-links {
    width: 100% !important;
    max-width: auto;
    display: flex;
    justify-content: space-between;
  }
  .intro-container .intro .message {
    max-width: 90%;
    font-size: 15px;
  }
  #about-page-wrapper {
    margin-top: 60px;
  }
}
@media screen and (max-width: 480px) {
  .about-index .content-wrapper p {
    padding-left: 0;
    padding-right: 0;
  }
  .mission-statement .statement-wrapper {
    margin-bottom: 50px;
  }
  .mission-statement .statement-wrapper #statement-underline {
    width: 80%;
  }
  .mission-statement .statement-wrapper #bold-statement {
    padding-left: 0;
  }
  #footer ul li {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}/*# sourceMappingURL=Global.css.map */